@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar,
::-ms-scrollbar,
::-moz-scrollbar,
::-o-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb,
::-ms-scrollbar-thumb,
::-moz-scrollbar-thumb,
::-o-scrollbar-thumb {
  background: #d2cfbf;
  border-radius: 2px;
}

::-webkit-scrollbar-track,
::-ms-scrollbar-track,
::-moz-scrollbar-track,
::-o-scrollbar-track {
  background: #f4f4f4;
}

::selection,
::-webkit-selection,
::-ms-selection,
::-moz-selection,
::-o-selection {
  background: #630007;
  color: #fff;
  text-shadow: none;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  word-break: break-all;
}

table td,
table th {
  vertical-align: middle;
}

fieldset {
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: none !important;
}

img,
video {
  border: 0;
  vertical-align: top;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

address,
em,
cite {
  font-style: normal;
  font-weight: normal;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

button img {
  vertical-align: middle;
}

input[type="text"] {
  border: 1px solid #333;
  outline: 0;
}

input[type="checkbox"] {
  outline: 0;
  opacity: 0;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

textarea {
  border: 1px solid #333;
  outline: 0;
}

select,
textarea,
button,
input {
  font-family: "Lato", "Noto Sans KR", sans-serif;
}

.blind {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  height: 0;
  text-indent: -9999px;
}

.lt {
  text-align: left;
}

.ct {
  text-align: center;
}

.rt {
  text-align: right;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* btn */
.btn {
  display: block;
  width: auto;
  height: 2.5em;
  padding: 0.55em 1.66em;
  border: 2px solid #a4000c;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.3em;
  color: #a4000c;
  transition: all 0.4s;
}

.btn:hover,
.btn:focus {
  background-color: #a4000c;
  color: #fff;
}

.btn--reverse {
  border: 2px solid #a4000c;
  background-color: #a4000c;
  color: #fff;
}

.btn--reverse:hover,
.btn--reverse:focus {
  background-color: transparent;
  color: #a4000c;
}

.btn--white {
  border-color: #fff;
  color: #fff;
}

.btn--white:hover,
.btn--white:focus {
  background-color: #fff;
  color: #333;
}

.btn--mem {
  width: 11.68em;
  height: 2.5em;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.31em;
  text-align: center;
  color: #fff;
  transition: all 0.4s;
}

.btn--coun {
  width: auto;
  height: 2.12em;
  padding: 0.62em 1.24em;
  font-size: 1.6rem;
  line-height: 0.62em;
}

.btn--style {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.btn--style span {
  position: relative;
  transition: all 0.4s;
  z-index: 1;
}

.btn--style b {
  position: absolute;
  top: -1px;
  right: 0.62em;
}

.btn--style:before {
  content: "";
  position: absolute;
  left: -130%;
  bottom: 0;
  display: block;
  width: 120%;
  height: 150%;
  background: #a4000c;
  transform: skew(-20deg);
  transition: all 0.5s;
}

.btn--style:hover span {
  color: #fff;
}

.btn--style:hover:before {
  left: -10%;
  opacity: 1;
}

.btnSmall {
  display: block;
  width: 4.61em;
  height: 1.92em;
  border: 1px solid #a4000c;
  border-radius: 3px;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.92em;
  color: #a4000c;
  transition: all 0.3s;
}

.btnSmall:hover,
.btnSmall:focus {
  background-color: #a4000c;
  color: #fff;
}

/* show */
.back-to-position {
  opacity: 0;
  transition: 1s;
}

.back-to-position.to-top {
  transform: translateY(80px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateY(0);
}

.show .back-to-position.delay-0 {
  transition-delay: 0s;
}

.show .back-to-position.delay-1 {
  transition-delay: 0.3s;
}

.show .back-to-position.delay-2 {
  transition-delay: 0.6s;
}

.show .back-to-position.delay-3 {
  transition-delay: 0.9s;
}

.show .back-to-position.delay-4 {
  transition-delay: 1.2s;
}

/* table_st */
.table_st .lt {
  text-align: left !important;
}

.table_st .rt {
  text-align: right !important;
}

.table_st .ct {
  text-align: center !important;
}

/* table_st1 */
.my_tableW .table_st1 tbody tr {
  border-top: 1px solid #eee;
}

.my_tableW .table_st1 tbody tr:hover {
  background: #f4f4f4;
}

.my_tableW .table_st1 tbody tr:nth-of-type(1) {
  border-top: none;
}

.table_st1 thead td,
.table_st1 thead th {
  padding: 1.07em 0.71em;
  border-bottom: 1px solid #eee;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  color: #999;
}

.table_st1 tbody td,
.table_st1 tbody th {
  padding: 1.14em 0.71em;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.28em;
  letter-spacing: -0.025em;
  color: #333;
}

.table_st1 td:first-child,
.table_st1 th:first-child {
  padding-left: 1.25em;
}

.table_st1 td:last-child,
.table_st1 th:last-child {
  padding-right: 1.25em;
}

/* table_st2 */
.table_st2 {
  width: 100%;
  padding: 0.62em;
  margin-bottom: 0.62em;
  border: 1px solid #ccc;
}

.table_st2 caption {
  padding: 0.55em 0;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: left;
}

.table_st2 td,
.table_st2 th {
  border-bottom: 1px solid #e7e7e7;
}

.table_st2 td:last-child,
.table_st2 th:last-child {
  padding-right: 1.25em;
}

.table_st2 thead td,
.table_st2 thead th {
  padding: 0.33em;
  background: #f4f4f4;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.73em;
  color: #888;
}

.table_st2 tbody td,
.table_st2 tbody th {
  padding: 0.66em;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.025em;
  color: #555;
}

.table_st2 tbody tr:last-child td,
.table_st2 tbody tr:last-child th {
  border-bottom: 0;
}

/* table_st3 */
.table_st3 tr:first-child {
  border-top: 1px solid #a4000c;
  border-bottom: 1px solid #ccc;
}

.table_st3 th {
  padding: 0.85em 1.42em;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.71em;
  color: #333;
}

.table_st3 td {
  padding: 1.06em 1.25em 1em;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.62em;
  color: #666;
}

.table_st3 td.tit {
  color: #555;
}

/* table_st4 */
.table_st4 th {
  position: relative;
  padding: 0.93em 0.62em;
  font-weight: 500;
  text-align: left;
  color: #888;
}

.table_st4 th::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 1px;
  height: 0.75em;
  margin-top: -0.37em;
  background: #ddd;
}

.table_st4 td {
  padding: 0.93em 0.62em;
  color: #333;
}

.table_st4 td input[type="text"],
.table_st4 td input[type="password"],
.table_st4 td select {
  width: 40%;
  height: 2.18em;
  margin: -0.37em 0;
  padding: 0 0.62em;
  background: #f4f4f4;
  border: 1px solid #ddd;
  line-height: 2.06em;
}

.table_st4 td input[type="text"]:focus,
.table_st4 td input[type="password"]:focus {
  background: #fafafa;
  border-color: #7c7f92;
}

.table_st4 tbody tr {
  border-bottom: 1px solid #ddd;
}

/* table_st5 */
.table_st5 th {
  position: relative;
  padding: 0.93em 0.62em;
  font-weight: 500;
  text-align: left;
  color: #888;
}

.table_st5 th::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 1px;
  height: 0.75em;
  margin-top: -0.37em;
  background: #ddd;
}

.table_st5 td {
  padding: 0.93em 0.62em;
  color: #333;
}

.table_st5 td input[type="text"],
.table_st5 td input[type="password"],
.table_st5 td select {
  width: 60%;
  height: 2.18em;
  margin: -0.37em 0;
  padding: 0 0.62em;
  background: #f4f4f4;
  border: 1px solid #ddd;
  font-size: 1.6rem;
  line-height: 1.8;
}

.table_st5 td input[type="text"]:focus,
.table_st5 td input[type="password"]:focus {
  background: #fafafa;
  border-color: #7c7f92;
}

/* checkbox */
.checksWrap {
  position: relative;
  border-top: 1px solid #fff;
}

.checksWrap_st1 {
  position: relative;
}

.checksWrap_st1 .checks {
  position: relative;
}

.checksWrap_st1 input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5em;
  height: 1.5em;
  margin: 0;
  padding: 0;
  z-index: 9;
  -webkit-appearance: none;
}

.checksWrap_st1 label {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 0 0 0 2.14em;
  height: 1.71em;
  background: url("../_img/check2_off.png") 0 0 no-repeat;
  font-size: 1.4rem;
  line-height: 1.71em;
  color: #999;
  z-index: 10;
}

.checksWrap_st1 label.on {
  background: url("../_img/check2_on.png") 0 0 no-repeat;
}

.checksWrap_st2 {
  position: relative;
  border-bottom: 1px solid #e1e1e1;
}

.checksWrap_st2 .checks {
  position: relative;
  height: 3.75em;
}

.checksWrap_st2 .checks input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.75em;
  height: 3.75em;
  margin: 0;
  padding: 0;
  z-index: 9;
  -webkit-appearance: none;
}

.checksWrap_st2 .checks label {
  position: relative;
  top: 0;
  right: 0;
  display: block;
  height: 3.75em;
  padding: 1em 0 1em 5em;
  background: url("../_img/check3_off.png") 0 0 no-repeat #fff;
  font-size: 1.6rem;
  line-height: 1.62em;
  color: #555;
  z-index: 10;
}

.checksWrap_st2 .checks label:hover {
  background: url("../_img/check3_hover.png") 0 0 no-repeat #fff;
}

.checksWrap_st2 .checks label.on {
  background: url("../_img/check4_on.png") 0 0 no-repeat #fff;
}

.checksWrap_st2 .checks label strong {
  color: #e95247;
}

.checksWrap_st2 .checks label span {
  color: #aaa;
}

/* inputWrap_st1 */
.inputWrap_st1 {
  position: relative;
  margin-bottom: 0.37em;
}

.inputWrap_st1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  display: inline-block;
  width: 1.87em;
  height: 2.5em;
  background: url("../_img/icon_input_login.png") no-repeat;
  z-index: 10;
}

.inputWrap_st1.upw:before {
  background-position: -1.87em 0;
}

.inputWrap_st1 input {
  display: block;
  width: 100%;
  height: 3.07em;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0.76em 0.76em 0.76em 2.28em;
  font-size: 1.3rem;
  line-height: 1.38em;
  letter-spacing: -0.05em;
  color: #333;
}

.inputWrap_st1 input:focus,
.inputWrap_st1 input:hover {
  background: #fff;
}

/* inputWrap_st2 */
.inputWrap_st2 {
  position: relative;
}

.inputWrap_st2 .input_tit {
  position: absolute;
  top: 1.2em;
  left: 2em;
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
  color: #555;
  z-index: 10;
}

.inputWrap_st2 .input_tit strong {
  color: #1665c8;
}

.inputWrap_st2 input {
  width: 100%;
  height: 5.25em;
  padding: 2em 1.87em 0.37em;
  background: #fbfbf7;
  border: 1px solid #666;
  font-size: 1.6rem;
  line-height: 2.87em;
  letter-spacing: 0.025em;
  color: #333;
}

.inputWrap_st2 input:focus,
.inputWrap_st2 input:hover {
  background: #f1efe4;
  outline: none;
}

.inputWrap_st2.icon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 5.25em;
  height: 5.25em;
  background: url("../_img/input_icon.png") no-repeat;
  z-index: 10;
}

.inputWrap_st2.icon.uid:before {
  background-position: 0 0;
}

.inputWrap_st2.icon.upw:before {
  background-position: -5.25em 0;
}

.inputWrap_st2.icon.upw2:before {
  background-position: -10.5em 0;
}

.inputWrap_st2.icon.phone:before {
  background-position: -15.75em 0;
}

.inputWrap_st2.icon.email:before {
  background-position: -21em 0;
}

.inputWrap_st2.icon.nick:before {
  background-position: -26.25em 0;
}

.inputWrap_st2.icon.phone2:before {
  background-position: -31.5em 0;
}

.inputWrap_st2.icon input {
  padding-left: 5.25em;
}

.inputWrap_st2.icon .input_tit {
  left: 5.25em;
}

.inputWrap_st2 button {
  position: absolute;
  top: 50%;
  right: 1.42em;
  display: inline-block;
  width: 8.14em;
  height: 3em;
  margin-top: -1.5em;
  background: #400001;
  border-radius: 2em;
  font-size: 1.4rem;
  text-align: center;
  color: #fff;
  z-index: 12;
}

.inputWrap_st2 .error {
  width: 100%;
  height: 2.85em;
  background: #3d4d63;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  line-height: 2.85em;
  color: #fff;
}

/*  textareaWrap_st1 */
.textareaWrap_st1 textarea {
  display: block;
  width: 100%;
  min-height: 12.14em;
  padding: 1em 0.85em 1em 1.42em;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  font-size: 1.4rem;
  line-height: 1.42em;
  letter-spacing: -0.05em;
  color: #000000;
}

.textareaWrap_st1 textarea:focus,
.textareaWrap_st1 textarea:hover {
  background: #f4f4f4;
}

/* selectWrap_st1 */
.selectWrap_st1 {
  position: relative;
  width: 100%;
  height: 2.75em;
  background: #fff;
  border-radius: 2px;
  z-index: 8;
}

.selectWrap_st1 .btn_selected {
  position: relative;
  display: block;
  height: 3.14em;
  padding: 0 2.18em 0 1.07em;
  border: 1px solid #ccc;
  outline: 0;
  overflow: hidden;
  font-size: 1.4rem;
  line-height: 3em;
  white-space: nowrap;
  color: #777;
}

.selectWrap_st1 .btn_selected:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 2.62em;
  height: 100%;
  background: url("../_img/select_arr3.png") no-repeat 0 -0.2em;
  background-size: 130%;
}

.selectWrap_st1 .select_list {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  z-index: 100;
}

.selectWrap_st1 .select_list li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 2.5;
}

.selectWrap_st1 .select_list li a:focus,
.selectWrap_st1 .select_list li a:hover,
.selectWrap_st1 .select_list li.active a {
  border: 0;
  outline: 0;
  background: #f4f4f4;
  color: #a4000c;
}

.selectWrap_st1 button {
  background-color: transparent;
  color: #333;
}

/* pagination */
.pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pagination li {
  display: inline-block;
  margin-right: 0.31em;
}

.pagination li a {
  display: inline-block;
  width: 2.61em;
  height: 2.61em;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 1.3rem;
  text-align: center;
  line-height: 2.3;
  color: #999;
}

.pagination li a:hover {
  background: #fafafa;
}

.pagination li.active a,
.pagination li.active a:hover {
  background: #333;
  border-color: #333;
  color: #fff;
  cursor: default;
}

.pagination li a.page_arr {
  background: url("../_img/pagination_arr.png") no-repeat;
}

.pagination li a.page_arr.page_first {
  background-position: 0 0;
}

.pagination li a.page_arr.page_prev {
  margin-right: 0.62em;
  background-position: -2em 0;
}

.pagination li a.page_arr.page_next {
  margin-left: 0.62em;
  background-position: -4.9em 0;
}

.pagination li a.page_arr.page_last {
  background-position: -7.4em 0;
}

/* blink */
.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* layerPopup */
.layerPopup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 9999;
}

.layerPopup.open {
  display: block;
}

.layerPopup .layerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 60%;
  background-color: #fff;
}

.layerPopup .layerContent .layerTitle {
  padding: 1.25em;
  background-color: #f1efe4;
  box-sizing: border-box;
}

.layerPopup .layerContent .layerTitle h4 {
  float: left;
  font-size: 2rem;
  font-weight: 500;
}

.layerPopup .layerContent .layerTitle a {
  float: right;
}

.layerPopup .layerContent .layerText {
  position: relative;
  width: 100%;
  height: 88%;
  padding: 1.25em;
  overflow-y: auto;
  box-sizing: border-box;
}

.layerPopup .layerContent .layerText pre {
  background: #fff;
  border: none;
  font-size: 1.3rem;
  line-height: 1.6;
  white-space: pre-line;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: none !important;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: none !important;
}
